{% extends "templates/base.njk" %}

{% block content %}
    <h1>{{ title }}</h1>
    <!--
        TODO: figure how to render contents of markdown file
        outside of the front matter.

        I expected something similar to Jekyll or Hugo e.g. {{ content }}
    -->
{% endblock %}