<header>
    <span>All My <strong>Favorite foods</strong></span>
    <p>We all love food, don't we? Here's a list of my favorites.</p>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
</header>